## Deliverable 3. Create a Travel Itinerary Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_google import api_key

# Configure gmaps
gmaps.configure(api_key=api_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Weather_Database/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,Paradise Inn
1,5,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,8,Rikitea,PF,75.25,overcast clouds,-23.1203,-134.9692,People ThankYou
3,9,Berasia,IN,84.65,scattered clouds,23.6333,77.4333,golu narwaria
4,11,Mount Isa,AU,80.37,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
vacation_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,Paradise Inn
1,5,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,8,Rikitea,PF,75.25,overcast clouds,-23.1203,-134.9692,People ThankYou
3,9,Berasia,IN,84.65,scattered clouds,23.6333,77.4333,golu narwaria
4,11,Mount Isa,AU,80.37,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
...,...,...,...,...,...,...,...,...
220,686,Ambon,ID,78.94,light rain,-3.6954,128.1814,Swiss-Belhotel Ambon
221,691,Carmen,MX,79.61,overcast clouds,18.6333,-91.8333,Hotel Lossandes
222,698,Lamin,GM,75.31,overcast clouds,13.3522,-16.4339,Jerreh Camp Lodge
223,701,Dasoguz,TM,84.15,clear sky,41.8363,59.9666,Hotel Erik
224,702,Dakar,SN,77.88,overcast clouds,14.6937,-17.4441,Redface Studios MeublÃ©s

In [55]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Laguna"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Laguna"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Lindsay"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Los Alamos"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Guymon"]

In [63]:
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
start

array([  38.421 , -121.4238])

In [65]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [68]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig=gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='BICYCLING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,344,Laguna,US,78.62,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,344,Laguna,US,78.62,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,212,Lindsay,US,85.71,clear sky,36.2030,-119.0882,Lindsay Inn
3,669,Los Alamos,US,78.39,broken clouds,35.8881,-106.3070,Holiday Inn Express & Suites Los Alamos Entrad...
4,659,Guymon,US,75.22,clear sky,36.6828,-101.4816,Super 8 Guymon

In [70]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [74]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))